@import'style.css';
@import'responsive.css';

@media (max-width: 768px) {

}

@media (max-width: 375px) {
    .header {
        width: 100%;
        position: relative;
    }
    .navbar {
        display: none;
    }
    .header .menu {
        position: absolute;
        top: 20px;
        right: 13px;
        display: block;
        font-size: 1.8rem;
        cursor: pointer;
    }
    .logo {
        flex: 1;
    }

    .content {
        flex-direction: column;
        padding: 1.5rem;
        justify-content: flex-start;
    }
    .content .text {
        width: 100%;
    }
    .content .image-logo {
        margin-bottom: 2rem;
        width: 100%;
        border-radius: 4px;
    }
    .content .text h1 {
        font-size: 2rem;
    }
    .content .text h1 span {
        color: var(--red);
        font-size: 2rem;
    }
    .content .text h3 {
        font-size: 1rem;
        padding-top: 30px;
    }
    .content .image-logo img {
        border-radius: 4px;
    }

    .title-gallery h1 {
        z-index: 2;
        position: absolute;
        left: 12%;
    }
    .gallery-block {
        gap: 1rem;
    }


    .contact-events .container {
        flex-direction: column;
        padding: 1rem;
    }
    .contact-events .content-left-form {
        width: 100%;
        padding: 0;
    }
    .form-content {
        align-items: center;
    }
    .contact-events .content-left-form .form-content input {
        width: 100%;
    }
    .contact-events .content-left-form .form-content .nome-sobrenome,
    .contact-events .content-left-form .form-content .tel-email,
    .contact-events .content-left-form .form-content .city-birth {
        padding: .7rem;
        width: 100%;
    }

    .contact-events .content-right-location {
        width: 100%;
    }

}