@import 'variavel.css';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: linear-gradient(to right, rgba(255, 202, 4, 0.7), rgba(238, 28, 38, 0.8) 48%, rgba(0, 0, 0, 7) 100%);


}

/* HOME PAGE */


.home {
    border: 2px solid black;
    height: 100vh;
}

.header {
     border: 2px solid green;
    display: flex;
}
.header .logo {
     border: 2px solid blue;
}
.header .navbar {
     border: 2px solid purple;
}

.content {
    border: 2px solid greenyellow;
    display: flex;
    justify-content: space-around;
    ;
}
.content .text {
    border: 2px solid rgb(38, 120, 145);
}
.content .image-logo {
    border: 2px solid rgb(124, 56, 145);
}

/* GALLERY IMAGES */

.gallery {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/Nosso-Forro-anjo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}



/* TEACHERS - IMAGES */

.teachers {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/Nosso-Forro-Vermelha_team.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}



/* EVENTS - IMAGES */


.events {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/Treino-Livre\ +Chroregrafia.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


/*  */





/*  */





/*  */