@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap');
@import 'variavel.css';

/* 
font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;
 */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.87);
    color: #fff;
}

.container {
    max-width: 1180px;
    min-width: 340px;
    margin: 0 auto;
}

/* HOME PAGE -  navabar  */


.home {
    height: 100vh;
    position: relative;
}

.header {
    background: rgba(0,2,4,0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    position: fixed;
    width: 100%;
}
.header .navbar ul {
    list-style: none;
    display: flex;
}
.header .navbar li {
    margin: 0px 10px;
}
.header .navbar li a:hover {
    color: var(--red);
}
.header .navbar a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    transition: 0.4s ease;
}

.header .logo {
    width: 30%;
    font-family: 'Lato', sans-serif;
}
.header .logo a {
    text-decoration: none;
    color: #fff;
}
.header .logo h2 {
    font-size: 1.8rem;
}
.header .logo span:first-child {
    color: var(--red);
}
.header .logo span:last-child {
    color: var(--yellow);
}

/* HOME PAGE  -  conteúdo  */

.content {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../img/nosso_forro_on_smarphone-removebg-preview.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    padding: 50px 100px;
    overflow-x: hidden;
}
.content .text {
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-family: 'Lato', sans-serif;
}
.content .text span {
    font-size: 1.5rem;
    padding-bottom: 20px;
}
.content .text h1 {
    font-size: 3.3rem;
}
.content .text h1 span {
    color: var(--red);
    font-size: 3.3rem;
}
.content .text h3 {
    font-size: 1.7rem;
    padding-top: 30px;
}
.content .image-logo {
    width: 50%;
    background: transparent;
}
.content button {
    padding: 10px 50px;
    margin-top: 35px;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background-color: var(--red);
    font-size: 1.4rem;
    font-weight: 600;
    transition: all .5s ease;
}
.content button:hover {
    background-color: var(--yellow);
    color: var(--red);
}
.content .modal-box {
    position: absolute;
    top:-5%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    background-color: var(--yellow);
    color: #202425;
    width: 350px;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border: 3px solid var(--red);
    visibility: hidden;
    transition: all .6s ease;
}
.modal-box.active {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
}
.content .modal-box h2 {
    font-size: 2rem;
    color: var(--red);
    border-bottom: 2px solid black;
}
.content .modal-box p {
    font-size: 1.2rem;
    margin-top: 15px;
}
.content .image-logo img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

/* GALLERY IMAGES */

.gallery {
    height: 160%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/Nosso-Forro-anjo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top: 6px solid var(--yellow);
}
.gallery .container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.title-gallery {
    padding: 20px;
}
.title-gallery h1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}
.gallery-block {
    height: 100%;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.gallery-block .block-image {
    width: 350px;
    height: 250px;
    margin: 20px auto;
}
.gallery-block .block-image img {
    width: 100%;
    height: 100%;
    border: 4px solid var(--yellow);
    border-radius: 6px;
}

/* TEACHERS - IMAGES */

.teachers {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/Nosso-Forro-Vermelha_team.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-top: 6px solid var(--red);
}
.teachers .container {
    height: 100vh;
}
.teachers .title-teachers h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 25px;
}
.teachers .teachers-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 25px;
    padding: 35px;
    height: 85vh;
    font-family: 'Merriweather', serif;
}

.teachers .teachers-content .teacher-block {
    height: 40vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(0,0,0,0.5);
    border-radius: 8px;
    border: 2px solid var(--red);
    transition: all 0.4s ease;
}
.teachers .teachers-content .teacher-block:hover {
    background-color: rgba(0,0,0,0.7);
    transform: scale(1.05);
}
.teachers .teachers-content .teacher-block img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 2px solid var(--red);
    margin: 15px 0px;
    transition: all 0.5s ease;
}
.teachers .teachers-content .teacher-block img:hover {
    transform: scale(1.45);
}
.teachers .teachers-content .teacher-block .text-block {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.teachers .teachers-content .teacher-block .text-block a {
    padding: 7px;
    border: 2px solid var(--yellow);
    border-radius: 8px;
    background-color: #202425;
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin: 10px 0px;
    transition: all 0.4s ease;
}
.teachers .teachers-content .teacher-block .text-block a:hover {
    background-color: var(--red);
}


/* EVENTS - IMAGES */

.contact-events {
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/logo-removebg-preview.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.contact-events .container {
    padding: 50px;
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.contact-events .content-left-form {
    padding: 10px;
    width: 60%;
}
.contact-events .content-left-form .form-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.contact-events .content-left-form .form-content 
.tel-email, .nome-sobrenome, .city-birth {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 0px;
}
.contact-events .content-left-form .form-content .nome-sobrenome {
    border: 2px solid var(--yellow);
    padding: 10px 25px;
    border-radius: 10px;
    margin-bottom: 12px;
    background-color: rgba(0, 0, 0, 0.6);
}
.contact-events .content-left-form .form-content .tel-email {
    border: 2px solid var(--yellow);
    padding: 10px 25px;
    border-radius: 10px;
    margin-bottom: 12px;
    background-color: rgba(0, 0, 0, 0.6);
}
.contact-events .content-left-form .form-content .city-birth {
    border: 2px solid var(--yellow);
    padding: 10px 25px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
}

.contact-events .content-left-form .form-content input {
    padding: 10px;
    border-radius: 5px;
    width: 400px;
    font-size: 1rem;
    outline: none;
    border: none;
}
.contact-events .content-left-form .form-content label {
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin: 7px;
}
.contact-events .content-right-location {
    width: 60%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.contact-events .content-right-location .text-content {
    height: 50%;
    width: 100%;
    margin: 15px 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-events .content-right-location .text-content .aulas {
    width: 100%;
    height: 50%;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: space-around;
    font-size: 0.8rem;
}
.contact-events .content-right-location .text-content ion-icon {
    font-size: 35px;
    color: var(--yellow);
    margin-bottom: 7px;
    border-radius: 50%;
    padding: 5px;
}
.contact-events .content-right-location .text-content .aulas .aulas-1, .aulas-2 {
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

.contact-events .content-right-location .text-content .aulas h4 {
    color: var(--red);
    font-size: 1rem;
}

.contact-events .content-right-location .text-content .eventos {
    width: 100%;
    height: 50%;
    display: flex;
    padding: 8px;
    align-items: center;
    margin-top: 10px;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
}
.contact-events .content-right-location .text-content .eventos .eventos-1 {
    text-align: center;
}
.contact-events .content-right-location .text-content .eventos .exams {
    text-align: center;
}

.contact-events .content-right-location .map {
    height: 60%;
    width: 100%;
    border: 4px solid var(--red);
    border-radius: 7px;
}
.contact-events .content-right-location .map iframe {
    width: 100%;
    height: 100%;
    display: block;
}

/* FOOTER   */


.footer {
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(63, 50, 19);
}
.footer p {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--yellow);
    font-weight: 500;
    text-align: center;
}
.footer a {
    text-decoration: none;
    color: var(--red);
    font-style: italic;
}
.footer a:hover {
    border-bottom: 1px solid white;
}

/*  */





/*  */